*{
margin: 10px; auto;
padding: 0px;
font-family: "Tahoma";
}

#wrapper{
    margin-left: 190px;
    margin-top: 40px;
    width: 960px;
    padding: 10px;
}
    #wrapper h1{
        text-align: center;
        color:blanchedalmond;
    }

#box1, #box2, #box3, #box4 {
    text-align: center;
    border:4px solid maroon;
    width: 200px;
    height: 100%;
    display: inline-block;
}
.red{
    color:black;
    font-size: 20px;
}
.box_style{
height: 300px;
overflow: scroll;
border:4px solid maroon;
padding: 2%;
}
.box_style p{
    color: black;
}
.gold{
    color: black;
    font-size: 17px;
}
input[type="submit"]{
    color: black;
}